<div class="rounded-md p-4 border-2 flex flex-col gap-1">
    <h3 class="font-bold">{{user.name}}</h3>
    <p>{{user.username}}</p>

    <p class="flex gap-2 items-center">
        <img src=" https://cdn-icons-png.flaticon.com/512/561/561127.png" alt="Mail icon" class="h-4" />
        <a [href]="'mailto:' + user.email">{{user.email}}</a>
    </p>

    <p class="flex gap-2 items-center">
        <img src="https://www.iconpacks.net/icons/1/free-phone-icon-1-thumb.png" alt="Phone icon" class="h-4" />
        <a [href]="'tel:+' + user.phone">{{user.phone}}</a>
    </p>
    <p class="flex gap-2 items-center">
        <img src="https://cdn-icons-png.flaticon.com/512/1006/1006771.png" alt="Website Icon" class="h-4" />
        <a [href]="'tel:+' + user.website">https://{{ user.website }}</a>
    </p>
    <p></p>
    <p class="flex gap-2 items-center">
        <img src="https://cdn-icons-png.flaticon.com/512/2527/2527411.png" alt="Geoposition" class="h-4" />
        {{ user.address.city }}, {{ user.address.street }}
    </p>
</div>