<div class="min-h-screen">
    <header class="border-b-2 mb-2 z-10 sticky w-full top-0 bg-white">
        <div class="mx-3 sm:mx-5 md:mx-8 lg:mx-14 xl:mx-20 2xl:mx-32 text-xl flex py-2">
            <h1 class="font-bold">SPA & API</h1>
            <nav class="ml-auto flex space-x-4">
                <a routerLink="/">main</a>
                <a routerLink="/users">Users</a>
                <a routerLink="/albums">Albums</a>
                <!-- <NavLink end to={"/"} class={getNavLinkClass}>
              Main
            </NavLink>
            <NavLink to={"/users"} class={getNavLinkClass}>
              Users
            </NavLink>
            <NavLink to={"/albums"} class={getNavLinkClass}>
              Albums
            </NavLink> -->
            </nav>
        </div>
    </header>
    <main class="mx-3 sm:mx-5 md:mx-8 lg:mx-14 xl:mx-20 2xl:mx-32 text-xl flex flex-col">
        <router-outlet></router-outlet>
    </main>
    <footer class="sticky top-full border-t-2 bg-white">
        <div class="mx-3 sm:mx-5 md:mx-8 lg:mx-14 xl:mx-20 2xl:mx-32 text-xl flex py-2 justify-between">
            <p>
                Created by
                <a href="https://github.com/StanEkso" class="hover:text-blue-600">
                    StanEkso
                </a>
            </p>
            <p>2022</p>
        </div>
    </footer>
</div>