<div class="" *ngIf="!loading; else elseBlock">
    <h3 class="font-bold mb-2 text-2xl">Users</h3>
</div>
<div class="flex flex-col">
    <a *ngFor="let user of usersStream$ | async " [routerLink]="'/users/'+user.id">{{ user.name }}</a>
</div>
<ng-template #elseBlock>
    <div class="flex flex-col max-w-full gap-3 animate-pulse ">
        <skeleton-title></skeleton-title>
        <div class="flex flex-col gap-3">
            <skeleton-string *ngFor="let i of [1,2,3,4,5,6,7,8, 9,10]"></skeleton-string>
        </div>
    </div>

</ng-template>